absl-py==2.0.0
alembic==1.10.3
appnope==0.1.3
astor==0.8.1
asttokens==2.2.1
attrs==23.1.0
autograd==1.5
autograd-gamma==0.5.0
backcall==0.2.0
blessed==1.20.0
blessings==1.7
bokeh==3.1.1
bottle==0.12.25
cachetools==5.3.2
category-encoders==2.2.2
certifi==2023.5.7
charset-normalizer==3.1.0
Click==7.0
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
delu==0.0.15
einops==0.6.1
et-xmlfile==1.1.0
executing==1.2.0
faiss-gpu==1.7.2
fastjsonschema==2.16.3
fonttools==4.39.4
formulaic==0.6.1
future==0.18.3
google-auth==2.23.4
google-auth-oauthlib==1.0.0
gprofiler==1.2.2
gpustat==0.6.0
graphlib-backport==1.0.3
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.59.2
gseapy==1.0.5
hyperopt==0.2.5
icecream==2.1.3
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
interface-meta==1.3.0
ipykernel==6.23.3
ipython==8.12.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.3.0
jupyter_core==5.3.0
kaleido==0.2.1
kiwisolver==1.4.4
libzero==0.0.3.dev7
lifelines==0.27.7
lightgbm==3.3.5
llvmlite==0.40.0
loguru==0.6.0
Mako==1.2.4
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
numba==0.57.1
numpy==1.23.0
nvidia-ml-py==12.535.133
nvidia-ml-py3==7.352.0
oauthlib==3.2.2
openpyxl==3.1.2
optuna==3.1.1
optuna-dashboard==0.9.0
packaging==23.1
pandas==2.0.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
plotly==5.14.1
ply==3.11
progressbar2==4.2.0
prompt-toolkit==3.0.38
protobuf==4.25.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.15.1
pynvml==8.0.4
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-utils==3.8.1
pytomlpp==0.3.5
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
quantiphy==2.19
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
rtdl==0.0.13
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
setuptools-scm==8.0.4
shap==0.41.0
shap-hypetune==0.2.6
six==1.16.0
slicer==0.0.7
SQLAlchemy==2.0.9
stack-data==0.6.2
statsmodels==0.14.0
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.1.0
tomli==2.0.1
tomli_w==1.0.0
--extra-index-url https://download.pytorch.org/whl/cu116 
torch==1.13.1+cu116
torchinfo==1.8.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.3
venn==0.1.3
wcwidth==0.2.6
Werkzeug==3.0.1
wrapt==1.15.0
xgboost==1.7.5
xyzservices==2023.10.1
zipp==3.15.0
