seed = 3456
function = "bin.tabr.main"
n_trials = 200
timeout = "__null__"

[sampler]

[kfold]
n_splits = 5
shuffle = true
random_state = 3456

[space]
seed = 3456
batch_size = 256
patience = 16
n_epochs = inf
context_size = 96

[space.data]
seed = 3456
cache = false
path = ":data/olink_proteomic"
num_policy = "__null__"
cat_policy = "__null__"
y_policy = "__null__"
score = "r2"

[space.model]
num_embeddings = "__null__"
d_main = [
    "_tune_",
    "int",
    96,
    384,
]
context_dropout = [
    "_tune_",
    "uniform",
    0.0,
    0.6,
]
d_multiplier = 2.0
encoder_n_blocks = 0
predictor_n_blocks = 1
mixer_normalization = "auto"
dropout0 = [
    "_tune_",
    "uniform",
    0.0,
    0.6,
]
dropout1 = 0.0
normalization = "LayerNorm"
activation = "ReLU"

[space.optimizer]
type = "AdamW"
lr = [
    "_tune_",
    "loguniform",
    3e-05,
    0.001,
]
weight_decay = [
    "_tune_",
    "?loguniform",
    0.0,
    1e-06,
    0.0001,
]
